data1
demos
engine1
include
JustinHills5-Strings
less
mikey-way-shop-jazz-basses
node_modules
portfolio
sass
video

# html files
despicablemecomics.html
despicablemestoryboards.html
ethansphotoshops.html
index.html
rocknroll.html